body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(./crismas.jpg);
    background-size: cover;
    overflow: hidden;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
}

.clock {
    display: flex;
}
.clock div {
    margin: 5px;
    position: relative;
}
.clock span {
    width: 200px;
    height: 160px;
    background-color: rgb(243, 19, 19);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.3);
}
.clock .text {
    height: 60px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(77, 1, 1);
    opacity: 0.9;
}
.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 30PX;
    background: rgb(31, 235, 4);
}